<div class='row'>
  <h1>Welcome to my BlogBlog</h1>
  <% @posts.each do |post| %>
    <div class='col-lg-6'>
      <h2><%= link_to post.title, post %> </h2>
      <p>
        <%= truncate post.text %>
      </p>

      <div class='well'>
    Вывести 3 коммента для одного поста
      </div>

      <p>
        <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </div>
    <hl>
  <% end %>
</div>
<div class='row'>
  <%= link_to "New post", new_post_path, class: [:btn, 'btn-info', 'pull-right'] %>
</div>
